mutagen==1.45.1
opencv-python==4.4.0.44
pygame==1.9.6
pip==20.0.2
rsa==4.6
pyasn1==0.4.8
numpy==1.19.2
setuptools==44.0.0
Telethon==1.17.1
wheel==0.34.2
certifi==2019.11.28
chardet==3.0.4
requests==2.7.0
six==1.14.0
webencodings==0.5.1
urllib3==1.25.8
pyaes==1.6.1
pyparsing==2.4.6
CacheControl==0.12.6
msgpack==0.6.2
colorama==0.4.3